[user]
	email = ivysochyn@internships.antmicro.com
	name = Illia Vysochyn
[core]
	editor = nvim
	hooksPath = ~/gitconfig/hooks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[commit]
	gpgsign = true
[tag]
	gpgsign = true
