[submodule "nvim/pack/github/start/copilot.vim"]
	path = nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "nvim/pack/vim-plug/start/plugin/autoload"]
	path = nvim/pack/vim-plug/start/plugin/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule "nvim/pack/color-scheme/start/peaksea"]
	path = nvim/pack/color-scheme/start/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "nvim/pack/nvim-lspconfig/start/nvim-lsp-installer"]
	path = nvim/pack/nvim-lspconfig/start/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer.git
[submodule "nvim/pack/nvim-lspconfig/start/nvim-lspconfig"]
	path = nvim/pack/nvim-lspconfig/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/trailing-whitespace/start/trailing-whitespace"]
	path = nvim/pack/trailing-whitespace/start/trailing-whitespace
	url = https://github.com/lukoshkin/trailing-whitespace.git
[submodule "nvim/pack/grammarous/start/grammarous"]
	path = nvim/pack/grammarous/start/grammarous
	url = https://github.com/rhysd/vim-grammarous.git
[submodule "nvim/pack/auto-pairs/start/auto-pairs"]
	path = nvim/pack/auto-pairs/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "nvim/pack/color-scheme/start/vim-markdown"]
	path = nvim/pack/color-scheme/start/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
[submodule "nvim/pack/illuminate/start/vim-illuminate"]
	path = nvim/pack/illuminate/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "nvim/pack/ls-lines/start/lsp-lines"]
	path = nvim/pack/ls-lines/start/lsp-lines
	url = https://github.com/ErichDonGubler/lsp_lines.nvim.git
[submodule "nvim/pack/neoformat/start/neoformat"]
	path = nvim/pack/neoformat/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
