[submodule "nvim/pack/github/start/copilot.vim"]
    path = nvim/pack/github/start/copilot.vim
    url = https://github.com/github/copilot.vim
[submodule "nvim/pack/vim-plug/start/plugin/autoload"]
    path = nvim/pack/vim-plug/start/plugin/autoload
    url = https://github.com/junegunn/vim-plug.git
