[submodule "nvim/pack/github/start/copilot.vim"]
    path = nvim/pack/github/start/copilot.vim
    url = https://github.com/github/copilot.vim
[submodule "nvim/pack/vim-plug/start/plugin/autoload"]
    path = nvim/pack/vim-plug/start/plugin/autoload
    url = https://github.com/junegunn/vim-plug.git
[submodule "nvim/pack/color-scheme/start/peaksea"]
    path = nvim/pack/color-scheme/start/peaksea
    url = https://github.com/vim-scripts/peaksea.git
[submodule "nvim/pack/nvim-lspconfig/start/nvim-lsp-installer"]
    path = nvim/pack/nvim-lspconfig/start/nvim-lsp-installer
    url = https://github.com/williamboman/nvim-lsp-installer.git
[submodule "nvim/pack/nvim-lspconfig/start/nvim-lspconfig"]
    path = nvim/pack/nvim-lspconfig/start/nvim-lspconfig
    url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/trailing-whitespace/start/trailing-whitespace"]
    path = nvim/pack/trailing-whitespace/start/trailing-whitespace
    url = https://github.com/lukoshkin/trailing-whitespace.git
