repos:
# General
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.16.8
    hooks:
    -   id: typos
        stages: [pre-commit, commit-msg]
-   repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: main
    hooks:
    -   id: add-msg-issue-prefix
        name: issue-prefix
        stages: [prepare-commit-msg]
        args:
          -   --pattern=^\d+|\d+$
          -   --template=[#{}]
# C/C++
-   repo: https://github.com/doublify/pre-commit-clang-format
    rev: 62302476d0da01515660132d76902359bed0f782
    hooks:
    -   id: clang-format
        args:
        -   --style=file
# Python
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
-   repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    -   id: pydocstyle
        args:
        - |-
          --select=
            D201, D206, D207, D208, D209,
            D210, D213, D214, D215, D300,
            D405, D406, D407, D408, D409,
            D410, D411, D412, D414, D417,
            D419
-   repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
    -   id: yesqa
